.form{
    justify-content: center;
    max-width: 400px;
    position: relative;
    align-items: center;
    justify-items: center;
}
.form-group{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
}
.form-control{
    border-style: none;
}
.form-control :checked{
    boder: 1px radius #dddd;
    border-style: none;
}